.ga-maamli-regular {
    font-family: "Ga Maamli", serif;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    margin: 0px;
    padding: 0px;
}
#tophead{
    width: 100%;
    height: 80px;
    background-color:rgb(8, 8, 8);
    
}
#tophead ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}
#tophead ul li{
    list-style-type: none;
}
#tophead{
    color:orange;
}


#section-1 .about{
    /* width: 100%;
    height: 20px; */
    display: grid;
     grid-template-columns:1fr 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
}


#s{
    width: 100%;
    height: 90%;
    gap: 5%;
    margin-left: 10PX;
    display: flex;
    /* height:50%; */
    display: flex;
  
}


#box-1{
    width: 40%;
    background-color:transparent;
    font-size: xx-large;
    color: aliceblue;
    position: absolute;
    top: 12rem;
    z-index: 5;

}
